// BASE / UTILITIES
@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/placeholders";

.mm-container {
  width: 100%;
  max-width: v.$container-max;
  margin-left: auto;
  margin-right: auto;
  padding-left: v.$space-4;
  padding-right: v.$space-4;
}

.mm-section {
  padding-top: v.$space-7;
  padding-bottom: v.$space-7;

  @include m.respond(md) {
    padding-top: v.$space-8;
    padding-bottom: v.$space-8;
  }
}

.mm-section__head {
  @extend %col;
  gap: v.$space-2;
  max-width: 600px;
  margin-bottom: v.$space-6;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}